.container{
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap; 
        gap: 20px;
    }
}

.task-form, .filter-form {
    display: flex;
    align-items: center;
    gap: 10px;
}

input, select, button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #2F80ED;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #1c60b3;
}