<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="bg-blue-500 text-white py-4 text-center shadow-md">
    <h1 class="text-3xl font-bold">To Do List</h1>
    </div>
    <form action="{{url_for('edit',id=task.id)}}" method="get">
        <select name="priority_filter">
            <option value="All">All</option>
            <option value="High" {% if request.args.get("priority_filter") == "High" %}selected{% endif%}>High</option>
            <option value="Medium" {% if request.args.get("priority_filter") == "Medium" %}selected{% endif%}>Medium</option>
            <option value="Low" {% if request.args.get("priority_filter") == "Low" %}selected{% endif%}>Low</option>
        </select>
        <select name="completion_filter">
            <option value="All">All</option>
            <option value="Complete" {% if request.args.get("completion_filter") == "Complete" %}selected{% endif%}>Complete</option>
            <option value="Incomplete" {% if request.args.get("completion_filter") == "Incomplete" %}selected{% endif%}>Incomplete</option>
        </select>
        <input type="submit" value="Filter">
    </form>
    <!-- This will display error if field is left blank or only spaces are entered -->
    {% with messages = get_flashed_messages(with_categories=true)%}
    {% if messages %}
    {% for category,message in messages%}
    <div class=" {%if category == 'success' %} bg-green-500 {% elif category == 'error' %} bg-red-500 {% elif category == 'warning'%} bg-yellow-500 {% else %} bg-blue-500 {% endif %} text-white text-center py-3 px-4 rounded-lg shadow-md my-2 max-w-lg mx-auto  mt-4">{{message}}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <!-- This form will take input with name as task and this task will be added in the list made in python file -->
    <br>
    {% if tasks %}
        <!-- This Unordered List displays tasks entered in the list -->
        <table border="1">
            <tr>
                <th>Id</th>
                <th>Task</th>
                <th>Date</th>
                <th>Priority</th>
                <th>Completion</th>
                <th>Actions</th>
                <th>Due Date</th>
                <th>Do you want to update?</th>
            </tr>
            {% for task in tasks %}
            <tr>
                <form action="{{url_for('edit',id=task.id)}}" method="post">
                <td>{{task.id}}</td>
                <td><input type="text" name="new_task" id="new_task"  placeholder="What you want to edit?" value="{{task.task}}"></td>
                <td>{% if task.date%}{{task.date.strftime('%d-%m-%Y %H:%M')}}{%else%}N/A{% endif %}</td>
                <td>
                    <label for="new_priority">
                        <select name="new_priority">
                            <option value="High" {% if task.priority=="High" %}selected{% endif %}>High</option>
                            <option value="Medium" {% if task.priority=="Medium" %}selected{% endif %}>Medium</option>
                            <option value="Low" {% if task.priority=="Low" %}selected{% endif %}>Low</option>
                        </select>
                    </label>
                </td>
                <td>
                <div>
                    <label for="new_completion">
                        <input type="checkbox" name="new_completion" value="Complete" {% if task.completion == "Complete"%}checked{%endif%}>
                    </label>
                </div>
                </td>
                <td><a href="{{url_for('delete',id=task.id)}}">Delete</a></td>
                <td><input type="datetime-local" name="new_due_date" value="{{task.due_date.strftime('%Y-%m-%dT%H:%M') if task.due_date else ''}}"></td>
                <td><input type="submit" value="Yes"></td>
                </form>
            </tr>
            {% endfor %}
        </table>
    {% else %}
    <h3>Add task to edit.</h3>
    {% endif %}
</body>
</html>

<!-- This Edit.html is connected to edit route in flask -->